# Организационное
План на курс:
- подготовиться к НЭ
- научиться рисовать графики (см. https://pudding.cool/) и получаться статистику про тексты
- не забыть питон

**На НЭ по анализу данных можно пользоваться Excel** (мы будем проходить питон, про Excel можно спрашивать)

# Введение в Pandas

Документация: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [45]:
import pandas as pd

**Создаём датафрейм (таблицу)**

In [97]:
df = pd.DataFrame()

In [98]:
df

Empty DataFrame
Columns: []
Index: []

Добавим колонок. Похоже на синтаксис словарей.

In [99]:
df['PROG'] = [10, 7, 9]
df

   PROG
0    10
1     7
2     9

In [100]:
df['ANDAN'] = [9, 8, 10]
df

   PROG  ANDAN
0    10      9
1     7      8
2     9     10

In [101]:
print(df)

   PROG  ANDAN
0    10      9
1     7      8
2     9     10

Для красивого интерактивного вывода воспользуйтесь функцией `display()`.

In [102]:
display(df)

   PROG  ANDAN
0    10      9
1     7      8
2     9     10

In [103]:
df.shape  # кол-во строк, кол-во столбцов

(3, 2)

Добавьте оценки ещё по одному предмету

In [104]:
# ваш код

Как добавить строку в df? Пройдём позже.

**Действия с df**

(потом ещё пройдём)

In [105]:
df['AVERAGE'] = (df['PROG'] + df['ANDAN']) / 2
df

   PROG  ANDAN  AVERAGE
0    10      9      9.5
1     7      8      7.5
2     9     10      9.5

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PROG     3 non-null      int64
 1   ANDAN    3 non-null      int64
 2   AVERAGE  3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

**Работаем с колонкой**

In [107]:
df['PROG']

0    10
1     7
2     9
Name: PROG, dtype: int64

In [108]:
list(df['PROG'])

[10, 7, 9]

In [109]:
df['PROG'].dtype

dtype('int64')

In [110]:
df['PROG'].name

'PROG'

In [111]:
print(df['PROG'].values)

[10  7  9]

In [112]:
type(df['PROG'].values)

numpy.ndarray

**Несколько колонок**

In [113]:
df[['PROG', 'ANDAN']]

   PROG  ANDAN
0    10      9
1     7      8
2     9     10

In [114]:
df[['AVERAGE', 'PROG']]

   AVERAGE  PROG
0      9.5    10
1      7.5     7
2      9.5     9

In [115]:
df

   PROG  ANDAN  AVERAGE
0    10      9      9.5
1     7      8      7.5
2     9     10      9.5

# Нахождение в таблице

Колонки

In [116]:
df.columns

Index(['PROG', 'ANDAN', 'AVERAGE'], dtype='object')

In [117]:
df.columns = ['PYTHON', 'STATS', 'AVERAGE']

In [118]:
df.columns

Index(['PYTHON', 'STATS', 'AVERAGE'], dtype='object')

In [119]:
df

   PYTHON  STATS  AVERAGE
0      10      9      9.5
1       7      8      7.5
2       9     10      9.5

Строки

In [120]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [121]:
df.iloc[0]  # это нулевая строка

PYTHON     10.0
STATS       9.0
AVERAGE     9.5
Name: 0, dtype: float64

In [122]:
df.loc[0]  # это строка с индексом ноль

PYTHON     10.0
STATS       9.0
AVERAGE     9.5
Name: 0, dtype: float64

В чём разница между `.loc()` и `.iloc()`?

In [124]:
df.index = ['Mark', 'Alice', 'Shura']

In [125]:
df

       PYTHON  STATS  AVERAGE
Mark       10      9      9.5
Alice       7      8      7.5
Shura       9     10      9.5

In [126]:
df.iloc[0]

PYTHON     10.0
STATS       9.0
AVERAGE     9.5
Name: Mark, dtype: float64

In [127]:
# df.loc[0]
df.loc['Mark']

PYTHON     10.0
STATS       9.0
AVERAGE     9.5
Name: Mark, dtype: float64

Итого: `.iloc()` - для числовых индексов, `.loc()` - для индексов таблицы, выделенных жирным

### Тренировка

Что у Шуры по питону?

In [129]:
df.loc['Shura', 'PYTHON']

9

In [130]:
df['PYTHON'][2]

9

In [131]:
df.iloc[2, 0]

9

Что у Алисы по статистике?

In [132]:
df['STATS'][1]

8

In [133]:
df.iloc[1]['STATS']

8.0

In [134]:
df.iloc[1,1]

8

In [135]:
df.loc['Alice', 'STATS']

8

# Загрузка данных в pandas

In [136]:
df_csv = pd.read_csv('data/students.csv')
df_csv

           Имя Фамилия                 EMAIL  КР  ИТОГ
0          Иван Иванов         ivanov@hse.ru   5     6
1          Петр Петров         petrov@hse.ru   8    10
2      Мария Кузнецова     kuznetsova@hse.ru   7     8
3     Татьяна Смирнова       smirnova@hse.ru   3     9
4       Камиль Ахметов       akhmetov@hse.ru   8     6
5         Софья Сонина         sonina@hse.ru  10    10
6       Андрей Андреев        andreev@hse.ru   2     4
7   Алина Хисматуллина  khismatullina@hse.ru   3     3
8        Семен Семенов        semenov@hse.ru   5     8
9        Макар Макаров        makarov@hse.ru   9     6
10  Василиса Васильева      vasilieva@hse.ru   5     7
11      Корней Корнеев        korneev@hse.ru   4     1
12    Тимофей Тимофеев       timofeev@hse.ru   8     9
13    Екатерина Катина         katina@hse.ru   5     4
14        Елена Ленина         lenina@hse.ru   6     6

In [137]:
df_csv.head(4)

        Имя Фамилия              EMAIL  КР  ИТОГ
0       Иван Иванов      ivanov@hse.ru   5     6
1       Петр Петров      petrov@hse.ru   8    10
2   Мария Кузнецова  kuznetsova@hse.ru   7     8
3  Татьяна Смирнова    smirnova@hse.ru   3     9

In [138]:
df_csv.tail(2)

         Имя Фамилия          EMAIL  КР  ИТОГ
13  Екатерина Катина  katina@hse.ru   5     4
14      Елена Ленина  lenina@hse.ru   6     6

In [140]:
# Как открыть файл с разделителем не ',' и без названий колонок?
df_csv_sep = pd.read_csv('data/sent_len.csv')
df_csv_sep.head()

    А. П. Чехов;2
0  А. П. Чехов;13
1   А. П. Чехов;4
2   А. П. Чехов;7
3  А. П. Чехов;11
4  А. П. Чехов;37

In [142]:
# указали разделитель
df_csv_sep = pd.read_csv('data/sent_len.csv', sep=';')
df_csv_sep.tail()

       А. П. Чехов   2
885  Л. Н. Толстой  40
886  Л. Н. Толстой  53
887  Л. Н. Толстой  70
888  Л. Н. Толстой  90
889  Л. Н. Толстой  26

In [143]:
# указали, что в первой строке нет названий столбцов
df_csv_sep = pd.read_csv('data/sent_len.csv', sep=';', header=None)
df_csv_sep.head()

             0   1
0  А. П. Чехов   2
1  А. П. Чехов  13
2  А. П. Чехов   4
3  А. П. Чехов   7
4  А. П. Чехов  11

In [144]:
# добавили названия столбцов
df_csv_sep = pd.read_csv('data/sent_len.csv', sep=';',
                         header=None, names=['автор', 'слова'])
df_csv_sep.head()

         автор  слова
0  А. П. Чехов      2
1  А. П. Чехов     13
2  А. П. Чехов      4
3  А. П. Чехов      7
4  А. П. Чехов     11

In [150]:
# открыли файл 'verbs.txt' с помощью read_csv
df_txt = pd.read_csv('data/verbs.txt', sep=';', header=None,
                    names=['pres', 'V2', 'V3', 'russian'])
df_txt.head()

     pres        V2      V3       russian
0   arise     arose  arisen   подниматься
1      be  was/were    been          быть
2    bear      bore    born        родить
3  become    became  become     сделаться
4   begin     began   begun  начинать(ся)

Откройте `bi_femcorp.tsv`

In [146]:
# открывая текстовые файлы с разным расширением (.csv, .tsv, .txt), используйте read_csv
df_tsv = pd.read_csv('data/bi_femcorp.tsv', sep='\t')

In [147]:
df_tsv

,bi_token,uni_first_token,uni_first_lemma,uni_first_POS,uni_second_token,uni_second_lemma,uni_second_POS,Sent_ids,Ids
0,"('в', 'июне')",в,в,PREP,июне,июнь,NOUN,0 861,"['0', '861']"
1,"('июне', 'этого')",июне,июнь,NOUN,этого,это,NPRO,0,['0']
2,"('этого', 'года')",этого,это,NPRO,года,год,NOUN,0 473 1169 1672 1756 3155,"['0', '473', '1756', '1672', '1169', '3155']"
3,"('года', 'девушка')",года,год,NOUN,девушка,девушка,NOUN,0,['0']
4,"('девушка', 'по')",девушка,девушка,NOUN,по,по,PREP,0,['0']
...,...,...,...,...,...,...,...,...,...
41739,"('устанавливает', 'датчики')",устанавливает,устанавливать,VERB,датчики,датчик,NOUN,3466,['3466']
41740,"('датчики', 'и')",датчики,датчик,NOUN,и,и,CONJ,3466,['3466']
41741,"('затем', 'программирует')",затем,затем,ADVB,программирует,программировать,VERB,3466,['3466']
41742,"('программирует', 'их')",программирует,программировать,VERB,их,они,NPRO,3466,['3466']
41743,"('их', 'работу')",их,они,NPRO,работу,работа,NOUN,3466,['3466']

In [148]:
# открыть можно и excel
df_excel = pd.read_excel('data/coffee_stats.xlsx')

In [149]:
df_excel

     Тип кофе     Размер        Сироп
0         раф    большой   шоколадный
1    капучино    большой    ванильный
2         раф  маленький      розовый
3         раф    большой  карамельный
4       латте  маленький          NaN
..        ...        ...          ...
144     латте    большой  карамельный
145  капучино    большой     кленовый
146       раф    большой   шоколадный
147       раф    средний  карамельный
148  капучино  маленький          NaN

[149 rows x 3 columns]